.main_page{
  background-image: url(main_back.png);
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(100px);
}
.p{
  font-family: Comfortaa, sans-serif;
}
.p_main_page{
  padding-left: 23%;
}
.h1{
  font-size: 300px;
}
.cent{
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2); /* Светлый цвет с прозрачностью для эффектов */
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.6); /* Свечение */
  z-index: 1; /* Убедитесь, что этот элемент находится сверху */
}
.centm{
  display: table;
  flex-direction: row;
  position: relative;
  padding: 20px;
}

.cent_anim{
  border-radius:  20px;
  margin-top: 1%;
  margin-right: 2%; 
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  display: flex;
  flex-direction: row;
  width: 71%;  /* Займет 100% ширины родителя */
  height: 400px; /* Задайте нужную высоту */
  position: relative;
}
.text{
  color: #fff;
}
.navig{
  padding-top:2%;
  padding-right: 70%;
}
.btn_home{
  margin-left: 3%;
  font-size: 30px;
  background-color:#4F84FB ;
  color: #fff;
  border-radius: 20px;
  border-width: 0px;
  font-family: 'Times New Roman', Times, serif;
  height: 55px;
  margin-top:11%;
  padding-left: 1%;
  padding-right: 4%;
  padding-top: 4px;
  width: 530px;

  text-align: center;
  transition: 0.5s;
  color: white;
  box-shadow: 0 0 5px #eee;
  background-image: linear-gradient(to right, #003CC5 0%, #0B63F6 51%, #003CC5 100%);
  
}
.btn_home_text{
  background-color:#2268d8 ;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: #78E4FB;
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
  font-size: 150%;
  height: 20%;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-color: #FFFFF0;
}
.logo{
  color: #fff;
}
.button_main_page{
padding-left: 10%;
}
.contentStyle{
  padding-bottom: 15%;
  text-align: "center";
  color: #fff; 
  display: flex;
}
.slider_auth{
  background-color: #FFCC4A;
  padding-bottom: 20%;
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.slider_reg{
  background-color: #FFCC4A;
  padding-bottom: 10%;
  padding-top: 1%;
  margin-left: 0.1%;
  display: flex;
  flex-direction: column;
}
.slider_free_button_exit{
  margin-top: 150%  ;
}
.slider_free{
  background: rgb(252,176,69);
  background: linear-gradient(86deg, rgba(252,176,69,1) 0%, rgba(255,208,87,1) 100%);
  padding-bottom: 1%;
  padding-right: 1.2%;
  padding-left: 1.2%;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}
.slider_free_button{
  margin-bottom: repeat(auto-fit, 1%);
  font-style: "Regular";
  background-color: #6F7DE5;
  color: #fbfbfb;
  border-radius:  7px;
  border-width: 0px;
  position: relative;
}
.Sph_card{
  border-radius: 30px;
  background: rgb(226,215,255);
  background: linear-gradient(95deg, rgba(226,215,255,1) 0%, rgba(204,218,255,1) 27%, rgba(224,223,255,1) 100%);
  width: 100%;
  height: 100%;
  padding: 2%;
  display: flex;
  flex-direction: row;
  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
  cursor: pointer;
}

.Sph_card:hover {
  transform: scale(1.05) translateY(-3%); /* Увеличение карточки на 5% */
  box-shadow: 0 4px 15px rgba(0, 150, 255, 0.6); /* Подсвечивание по контуру */
  border-color: rgba(0, 150, 255, 0.6); /* Изменение цвета границы при наведении */
}

.Sph_card_img{
 margin-top: 10%;
 padding-left: 3%;
 justify-content: flex-end;
}
.Sph_card_p{
  padding-left: 3%;
  text-align: center;
  padding-top: 3%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.p_shadov{
  position: absolute;
  bottom: -100%; /* Начальная позиция скрыта */
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  transition: bottom 0.4s ease; /* Плавное появление */
}

.slider_free_button_p{
  background-color: #6F7DE5;
  color: #000000;
  padding-left: 9%;
  padding-top: 5%;
  border-radius: 7px;
}
.auth_vhod{
  color: #000000;
  margin: 10px;
  margin-left: 10%;
}

.auth_text{
  display: flex;
  margin-left:0.5% ;
}
.auth_vhod_reg{
  color: #000000;
  margin: 10px;
  transition: transform 500ms ease;
  cursor: pointer;
}
.auth_vhod_reg :hover{
  transform: scale(1.4) translateY(+10px);
  }

.auth_vhod_mail{
  color: #000000;
  margin: 10px;
  margin-left: 10.5%;
  padding-top: 2%;
}
.button_aut{
  margin-top: 20px;
  margin-left: 10%;
  
}
.inp_aut{
  font-size: 20px;
  position: relative;
  width: 50%;
  margin-left: 10%;
}
.btn_inp_aut{
  font-size: 25px;
  background-color:#4F84FB ;
  color: #fff;
  border-radius: 20px;
  width: 56%;
  border-width: 0px;
  font-family: 'Times New Roman', Times, serif;
  height: 55px;
  margin-top: 2%;
  

  .flip-button-container {
    perspective: 1000px;
}

.flip-button {
    width: 100px;
    height: 50px;
    border: none;
    background-color: #6200ea;
    color: white;
    cursor: pointer;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-button.flipped {
    transform: rotateY(180deg);
}



}
.logo_auth{
  padding-left: 45%;
  padding-top: 60%;
}
.contentStyle_aut_logo{
  border-radius: 5px;
}
.reg_text{
  margin-left: 10%;
  display: flex;
  margin-top: 2%;

}
.p_reg{
 color: #000000;
}
.button_fre_anali{
  width: 100%;
  margin-top: repeat(auto-fit,1%); 
  padding-bottom: repeat(auto-fit,20%);
  font-size: repeat(auto-fit,130%); 

  font-style: "Regular";
  background-color: #6F7DE5;
  color: #030614;
  border-radius:  6px;
  border-width: 0px;
  text-align: center;
}


.line{
  background-color: #fff;
}

.img_user{
  position: relative;;
  margin-left: 93%;
}
.free_analit_but{
  display: flex;
  background-color: #ffffff;
  padding-left: 3%;
  border-radius: 5px;
  margin-left: 3%;
}
.free_analytic_slider{
  border-radius: 20px;
  margin-top: 2%;
  margin-left: 1.6%;

}
.free_analytic_doby{
  border-radius:  20px;
  margin-right: 2%; 
  padding-bottom: 1%;
  padding-left: 2%;
  width: 80%;  /* Займет 100% ширины родителя */
  height: 300px; /* Задайте нужную высоту */
  position: relative;
  display: table;
  flex-direction: row;
}
.analitic_blok{
  border-radius:  20px;
  margin-top: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Sphere_card_slider{
  border-radius:  20px;
  margin-top: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  display: flex;
  flex-direction: row;
 
}
.Sphere_slider{
  margin-right: 2%; 
  padding-bottom: 1%;
  padding-left: 2%;
  position: relative;
  display: grid; /* Устанавливаем контейнер как grid-контейнер */
  grid-template-columns: repeat(3, 1fr); /* Создаем 3 колонки одинаковой ширины */
  gap: 60px; /* Промежутки между карточками */
  width: 100%;
  height: 100%;
}

.Cont{
  font-family: Rounds rgb(61, 24, 24), sans-serif;
}

.Free_analytics_p{
  border-radius:  20px;
  margin-top: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Free_analytics_slider{
  border-radius:  20px;
  margin-top: 1%;
  margin-right: 2%; 
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1.5%;
}
.free_analytic_Chart{
  display: flex;
  flex-direction: column;
  width: 90%;
}

.Icon_user{
  width: 50%;  /* Займет 100% ширины родителя */
  height: 300px; /* Задайте нужную высоту */
  position: relative;
}
.button_fre_analit_boby{
 margin-left: 5%;
 margin-top: 2%; 
}

.img_page_home{
 position: absolute;
 margin-top: -22%;
}
.img_page_home{
  position: relative;
}
.img_page_home_man{
  position: absolute;
  margin-top: -46.5%;
  margin-left: 8%;
}
.img_page_home_graph{
  position: absolute;
  margin-top: -46.5%;
  margin-left: 8%;
}
.img_page_button{
  justify-content: center;
  margin-left: 23%;
  margin-top: 10%;
  width: 15%;
}
.button_fre_pref{
  margin-left: 2.8%;
  margin-top: 0.3%;
  font-size: 100%;
  font-style: "Regular";
  background-color: #FFCC4A;
  color: #000000;
  border-radius:  6px;
  border-width: 0px;
}
.button_pref{
  margin-left: 2%;
}
.Button_grath{
  margin-left: 2%;
  position: relative;
  
}
.grath{
  position: absolute;
}
/*=================================================*/
/*============HEDER===================*/
/*=================================================*/
@media screen and (min-width: 600px) {
  .head_free{
    background-color: #FFCC4A;
    border-radius:  20px;
    margin-top: 1.5%;
    margin-left:  1.55%;
    margin-right: 2%; 
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
  }
}

@media screen and (max-width: 600px) {
  .head_free{
    background-color: #FFCC4A;
    border-radius:  20px;
    margin-top: 1.5%;
    margin-left:  1.55%;
    margin-right: 2%; 
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}


.head_lk{
  border-radius:  20px;
  display: flex;
  flex-direction: row;
 
}
.head_user_lk{
  background-color: #FFCC4A;
  border-radius:  20px;
  margin-top: 1.5%;
  margin-left:  1.55%; 
  padding: 0.5%;
  padding-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.head_user_icn{
  background-color: #FFCC4A;
  border-radius:  20px;
  margin-top: 1.5%;
  margin-left:  1.55%;
  margin-right: 2%; 
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  display: flex;
  flex-direction: row;
  width: 100%;   
  justify-content: flex-end;
}
.p_lk_user{
  margin: 1px;
}

.graf{
    background-color: #FFCC4A;
    margin-right: 14%;
    margin-top: 2%;
    border-radius: 10px;
    text-align: center;
    padding: 1%;
    width: 100%;
}
.Free_param_comp{
  display: flex;
  flex-direction: row;
}
.head_free_icon{
  position: relative;

}
.head_free_user{
  flex-direction: row;
  justify-content: space-between;
  padding-right: 2rem;

}
.icon_hed{
padding-top: 35%;
padding-left: 25%;
}
.icon_heder{
padding-top: 1.5%;
padding-left: 2%;
padding-bottom: 0.5%;
cursor: pointer;
}
.icon_heder_user{
  padding-top: 2%;
  padding-bottom: 0.5%;
  max-width: 100%;
  cursor: pointer;
}


/*===========================
	End Footer CSS
============================*/

/*===========================
	Footer CSS Main
============================*/
.section {
  width: 300%;
}
.footer_main {
  position: absolute;
  top: 125%;
  padding: 0;
}
.footer_main .footer-top {
  text-align: center;
  padding: 10px 0;
  background: #232328;
}
.footer_main .logo {
  margin-bottom: 10%;
}
.footer_main .social li {
  display: inline-block;
  margin-right: 10px;
}
.footer_main .social li:last-child {
  margin: 0;
}
.footer_main .social li a {
  width: 12px;
  height: 12px;
  border-radius: 0px;
  background: #232328;
  border: 1px solid #42bc7f;
  line-height: 42px;
  text-align: center;
  display: block;
  color: #42bc7f;
}
.footer_main .social li a:hover {
  box-shadow: 0px 0px 5px #42bc7f inset;
  color: #fff;
}
.footer_main .social li span {
  font-size: 18px;
}
.footer_main .copyright {
  background: #1d1d21;
  text-align: center;
  padding: 25px 0;
}
.footer_main .copyright p {
  color: #666666;
}
/*===========================
	End Footer CSS Main
============================*/
/*===========================
	Footer
============================*/
.Footer{
color: #000000;
position: absolute;
justify-content: center;
padding-left: 30%;
}



